// HeaderLayout.vue


// АУТЕНТИФИКАЦИЯ:
// LoginView.vue
// RegisterForm.vue
.login-view,
.register-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 1080px;
}

// LoginForm.vue
// RegisterForm.vue
.login-form-wrapper,
.register-form-wrapper {
  max-width: 300px;
  width: 100%;
}

// MembershipCard.vue
.text-multiline-hidden {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

//Memberships.vue
.memberships-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.memberships-not-found {
  flex-grow: 1;
}

//Membership.vue
.membership-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .v-card {
    flex-grow: 1;
  }
}
